/* The sidebar menu */
.sidenav {
  height: 600px;
  width: 10%;
  position: fixed;   /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;   /* Stay on top */
  top: 20%;   /* Stay at the top */
  bottom: 20%;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;   /* Disable horizontal scroll */
  padding-top: 20px;
  
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

body {
  background: white url(https://s1.1zoom.ru/big0/524/Abstraction_540117_1365x1024.jpg) repeat top right;
}

header {
  height: 90%;
  width: 15%;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 800px;
  margin-right: 400px;
  background-color: #1abc9c;
  border: solid;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

h1 {
  margin-left: 20px;   /* Margin at the left in pixels */
  margin-right: 10px;   /* Margin at the right in pixels */
}

/* Style page content */
main {
  margin-left: 160px;   /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: Arial, Verdana, sans-serif;   /* Font family */
  font-size: 12pt;   /* The size of a main font in points  */
  
}

ol {
  counter-reset: item
}

li {
  display: block
}

li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

footer {
  width: 90%;
  height: 15%;
  top: 0;
  margin-left: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 30px;
  border: solid;
  border-color: #73AD21;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}