html,
body {
    margin: 0;
    height: 100%;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100vh;
}

.Jacket img {
    padding: 5px;
    max-width: 17vw;
    height: 30vh;
    margin: 5px;
}

figure {
    display: table;
    border: thin silver solid;
    box-shadow: 1px 0px 0px 0px grey;
    border-bottom: none;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    display: table-caption;
    caption-side: bottom;
    border: thin silver solid;
    box-shadow: 1px 0px 0px 0px grey;
    border-top: none;
}

p {
    font-weight: normal;
    font-size: 11pt
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .flex-container {
        justify-content: space-between;
    }

    .Jacket img {
        padding: 5px;
        max-width: 50vw;
        height: 35vh;
        margin: 5px;

    }

    #Ninth img {
        max-width: 50vw;
        width: 32em;
        height: 80vh;
    }

    #Tenth img {
        max-width: 40vw;
        width: 25em;
        height: 80vh;
    }
}